#body1{
border-width: 1px;
color: rgb(4, 4, 4);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
}
#body1{
border-width: 1px;
color: rgb(4, 4, 4);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
}
#section-1{
border-width: 1px;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
#section-1{
border-width: 1px;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
}
#img21{
border-width: 1px;
color: rgb(0, 173, 239);
background-color: rgb(255, 255, 255);
font-size: 126px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#img21{
border-width: 1px;
color: rgb(0, 173, 239);
background-color: rgb(255, 255, 255);
font-size: 126px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#p20{
height: 30px;
border-width: 1px;
color: black;
background-color: rgb(255, 255, 255);
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;
white-space: normal;
border-radius: 0px;
}
#p20{
height: 30px;
border-width: 1px;
color: black;
background-color: rgb(255, 255, 255);
font-size: 19px;
font-family: Arial, Helvetica, sans-serif;
white-space: normal;
border-radius: 0px;
}
#a19{
height: 18px;
border-width: 1px;
color: rgb(33, 37, 41);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#a19{
height: 18px;
border-width: 1px;
color: rgb(33, 37, 41);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#input13{
height: 42px;
border-width: 1px;
color: #111;
background-color: rgb(255, 255, 255);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#input13{
height: 42px;
border-width: 1px;
color: #111;
background-color: rgb(255, 255, 255);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#a12{
height: 17px;
border-width: 1px;
color: rgb(123, 126, 138);
background-color: rgb(255, 255, 255);
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#a12{
height: 17px;
border-width: 1px;
color: rgb(123, 126, 138);
background-color: rgb(255, 255, 255);
font-size: 11px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#a11{
height: 18px;
border-width: 1px;
color: rgb(33, 37, 41);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#a11{
height: 18px;
border-width: 1px;
color: rgb(33, 37, 41);
background-color: rgb(255, 255, 255);
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#input5{
height: 43px;
border-width: 1px;
color: #111;
background-color: rgb(255, 255, 255);
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#input5{
height: 43px;
border-width: 1px;
color: #111;
background-color: rgb(255, 255, 255);
font-size: 17px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#button4{
height: 25px;
border-width: 1px;
color: rgb(87, 89, 98);
background-color: rgb(255, 255, 255);
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#button4{
height: 25px;
border-width: 1px;
color: rgb(87, 89, 98);
background-color: rgb(255, 255, 255);
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#a3{
height: 19px;
border-width: 1px;
color: rgb(63, 81, 181);
background-color: rgb(255, 255, 255);
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#a3{
height: 19px;
border-width: 1px;
color: rgb(63, 81, 181);
background-color: rgb(255, 255, 255);
font-size: 14px;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
border-radius: 0px;
}
#button2{
height: 54px;
border-width: 1px;
color: rgb(255, 255, 255);
background-color: rgb(88, 103, 221);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#button2{
height: 54px;
border-width: 1px;
color: rgb(255, 255, 255);
background-color: rgb(88, 103, 221);
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#img22{
border-width: 1px;
color: rgb(255, 255, 255);
background-color: rgb(4, 4, 4);
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
#img22{
border-width: 1px;
color: rgb(255, 255, 255);
background-color: rgb(4, 4, 4);
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
border-radius: 0px;
}
